/*去除默认样式,可以用normalize.css代替,这里是按照我平时用的标签做的reset*/

*{  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body,dl,dt,dd,ul,ol,li,table,tr,td,form,input,select,textarea,blockquote,h1,h2,p,img,a,em{ margin:0; padding:0; outline:0; border:0; list-style:none; text-decoration:none; border-collapse:collapse; border-spacing:0; font-family:"微软雅黑";}

/*清除浮动*/
.clearfix:after {visibility: hidden; display: block; clear: both; content:" "; font-size: 0; height: 0;}
.clearfix{*zoom:1;}

/*元素状态*/
.dn{display: none;}
.db{display: block;}
.dt{display: table;}
.dtc{display: table-cell;}
.dib{display: inline-block; *display: inline; *zoom: 1;}

/*-----弹性伸缩start------*/
.df{display:-webkit-box;display:-webkit-flex;display:flex;}

/*
水平的主轴:
flex-direction: row | row-reverse | column | column-reverse; 
row（默认值）：主轴为水平方向，起点在左端。
row-reverse：主轴为水平方向，起点在右端。
column：主轴为垂直方向，起点在上沿。
column-reverse：主轴为垂直方向，起点在下沿

垂直的交叉轴:
flex-wrap: nowrap | wrap | wrap-reverse;
nowrap（默认）：不换行
wrap：换行，第一行在上方
wrap-reverse：换行，第一行在下方

flex-flow 是flex-direction与flex-wrap简写版。
flex-flow: <flex-direction> || <flex-wrap>;
*/ 

/*项目水平垂直方向*/
.ffrw{-webkit-flex-flow:row wrap; flex-flow:row wrap;}
.ffrwr{-webkit-flex-flow:row wrap-reverse; flex-flow:row wrap-reverse; }

/*项目水平轴*/
.jcc{-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center; }
/*这里旧版语法有4个参数，而新版语法有5个参数，兼容写法新版语法的 space-around 是不可用的：*/
.jcsa{ -webkit-justify-content:space-around; justify-content:space-around;}
.jcsb{-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}

/*项目单条垂直轴*/
.aic{-webkit-box-align: center;-webkit-align-items:center; align-items: center; }
.aifs{-webkit-box-align: start; -webkit-align-items:flex-start; align-items:flex-start; }
.aife{-webkit-box-align: end;-webkit-align-items:flex-end; align-items:flex-end;}

/*项目多条垂直轴(如果项目只有一根轴线，该属性不起作用)*/
.acc{-webkit-align-content:center; align-content:center; }
.acsa{-webkit-align-content:space-around; align-content:space-around; }
.acsb{-webkit-align-content:space-between; align-content:space-between; }

/*项目比例*/
.flex1{-webkit-flex:1;flex:1;-webkit-box-flex:1;}
.flex2{-webkit-flex:2;flex:2;-webkit-box-flex:2; }
.flex3{-webkit-flex:3;flex:3;-webkit-box-flex:3;}
.flexi{-webkit-flex: initial; flex: initial; }

/*项目顺序*/
.order1{-webkit-box-ordinal-group: 1; -webkit-order: 1; order: 1;}
.order2{-webkit-box-ordinal-group: 2; -webkit-order: 2; order: 2;}
.order3{-webkit-box-ordinal-group: 3; -webkit-order: 3; order: 3;}

/*-----弹性伸缩end------*/

/*元素可见性*/
.vh{visibility: hidden;}
.vv{visibility: visible;}

/*块状定位*/
.mlra{margin-left: auto;margin-right: auto;}
.por{position: relative;}
.poa{position: absolute; }
.fl{float: left;}
.fr{float: right;}

/*内联定位(上中下)*/
.vam{vertical-align: middle;}
.vatb{vertical-align: text-bottom;}
.vatt{vertical-align: text-top;}
.vasup{vertical-align:super;}
.vasub{vertical-align:sub;}

/*内联定位(左右)*/
.drtl{direction:ltr;}
.drtl{direction:rtl;}

/*文字排版*/
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.taj{text-align: justify;}

/*文字排版最后一行*/
.talc{text-align-last: center;}
.tall{text-align-last: left;}
.talr{text-align-last: right;}
.talj{text-align-last: justify;}

/*略号文字截断*/
.cut{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}

/*字体垂直排版*/
.wm {writing-mode: tb-rl; -webkit-writing-mode: vertical-rl;  writing-mode: vertical-rl; *writing-mode: tb-rl;}

/*字体样式*/
.fwb{font-weight: bold;}
.fwn{font-weight: normal;}
.fsn{font-style: normal;}

/*字体大小*/
.fz0{font-size: 0;}

/*宽度大小*/
.w0{width: 0%;}

/*背景定位*/
.bgptc{background-position: top center;}
.bgpbc{background-position: bottom center;}
.bgrn{ background-repeat: no-repeat;}

/*背景色被裁剪到盒子的内边距框中显示(border-box,content-box)*/
.bgcpd{-webkit-background-clip: padding-box;-moz-background-clip: padding-box;background-clip: padding-box;}

/*背景图像相对于盒子的内边距框中定位(border-box,content-box)*/
.bgopd{-webkit-background-origin:padding-box;background-origin:padding-box;}

/*背景填充*/
.bgscv{background-size: cover;}
.bgsct{background-size: contain;}
