@charset "utf-8";
/*去除默认样式*/
body,dl,dt,dd,ul,ol,li,table,tr,td,form,input,select,textarea,blockquote,h1,h2,p,img,a,em{ margin:0; padding:0; outline:0; border:0; list-style:none; text-decoration:none; font-style:normal; font-weight: normal; border-collapse:collapse;border-spacing:0;}

/*清除浮动*/
.clearfix:after {visibility: hidden; display: block; clear: both; content:" "; font-size: 0; height: 0;}
.clearfix{*zoom:1;}

/*元素状态*/
.dn{display: none;}
.db{display: block;}
.dib{display: inline-block; *display: inline; *zoom: 1; }
.dt{display: table;}
.dtc{display: table-cell;}

/*元素可见性*/
.vh{visibility: hidden;}
.vv{visibility: visible;}

/*块状定位*/
.mlra{margin-left: auto;margin-right: auto;}
.por{position: relative;}
.poa{position: absolute; }
.fl{float: left;}
.fr{float: right;}

/*内联定位*/
.vam{vertical-align: middle;}
.vatb{vertical-align: text-bottom;}
.vatt{vertical-align: text-top;}

/*字体排版*/
.tac{text-align: center;}
.tal{text-align: left;}
.tar{text-align: right;}
.taj{text-align: justify;}

/*字体样式*/
.fwb{font-weight: bold;}
.fsi{font-style: italic;}

/*字体行高*/
.lh{line-height: 100%;}

/*背景定位*/
.bgptc{background-position: top center;}
.bgrn{ background-repeat: no-repeat;}
